/* === feed */

.Feed {
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
}

.Feed-sort {
  padding: 1rem;
  background-color: whitesmoke;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid gainsboro;
  text-align: right;
}

.Feed-modal {
  display: none;
}

.Feed-modal.modal-visible {
  position: fixed;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  backdrop-filter: blur(1px);
}

.Feed-modal.modal-hidden {
  display: none;
}

.Feed-modal-options {
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  padding: 3rem 6rem;
  text-align: center;  
}

.Feed-modal-options > button {
  margin: 0 0.5rem;
}

.Feed-list {
  min-height: 1rem;
}

.Feed-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Feed-list > ul > li {
  border-bottom: 1px solid gainsboro;
}

.Feed-pagination {
  padding: 1rem;
  background-color: whitesmoke;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
