/* === index */

@import-normalize;

:root {
  --font-stack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-stack-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-stack);
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  line-height: 1.4;
}

code {
  font-family: var(--font-stack-monospace);
  font-size: 87.5%;
  background-color: whitesmoke;
  border: 1px dotted lightgray;
  white-space: nowrap;
  padding: 0 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

/* === buttons */

button {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  color: #333;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  color: #111;
  border-color: #888;
  outline: 0;
}

button.button-borderless {
  padding: 0 5px;
  height: auto;
  line-height: 1.5;
  border: none;
}

button.button-primary,
a.button-primary {
  color: #FFF;
  background-color: #e61f3b;
  border-color: #e61f3b;
}

button.button-primary:hover,
button.button-primary:focus,
a.button-primary:hover,
a.button-primary:focus {
  color: #FFF;
  background-color: #c01930;
  border-color: #c01930;
}

/* === form elements */

input[type="text"],
input[type="url"],
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="text"],
input[type="url"] {
  appearance: none;
}

input[type="text"]:focus,
input[type="url"]:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
